@font-face {
    font-family: 'Photographe Signiature';
    src: url('../fonts/Photograph\ Signature.ttf');
  }

.textContainer{
    text-align: center;
    padding: 150px 200px;
}

.logoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px; 
    
}
.logoContainer1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px; 
    
}

.ima{
    margin: 15px;
}


.test1
{
    color: #1f212d;
    font-family:'Photographe Signiature';
    font-size: 200px;
}

.txt{
    font-size: 20px;
}


@media (max-width: 540px) {
    .logoContainer1{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px; 
        
    }
        
        .logoContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            /* justify-content: center; */
            padding: 30px; 
            
        }
        
        .textContainer{
            text-align: center;
            padding: 50px 20px;
        }
        .Image2 {
            width: 170px;
        }
        .Image3{
            width: 160px;
        }
       
       
       
  }

  .Image3{
    width: 200px;
}
  .Image1{
    width:390px
  }
  .Image2{
    width:200px
  }