.about-section{
    background: url(../img/pic.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.btnContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btnContainer .btn-outline
{
   margin:10px;
    
}



