@font-face {
    font-family: 'Photographe Signiature';
    src: url('../fonts/Photograph\ Signature.ttf');
  }
::-webkit-scrollbar {
  display: none;
}

.bar {
    height: 15%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    display: flex;
    color: white;
    z-index: 5;
}
.mobile-menu{
    height: 100%;
    background-color: rgba(31, 33, 45,0.3);
    position: fixed;
    color: white;
    z-index: 5;
}
.mobile{
    font-Size: '30px';
    color:"white";
    margin-left:'70%';
}
.list{
    padding-left: 30%;
    margin-top:  4%;
}
.list-e {
    cursor: pointer;
    display: inline;
    padding-left: 4%;
}
.list-m{
    text-align: center;
    margin-top:30%;
}
.list-e-m{
    cursor: pointer;
    padding:3px!important ;
    font-size: 20px;
}


.video-text{
    width: 100%;
    z-index: 1;
    text-align:"center";
    z-index: 1;
    background-Image: url("../img/cover.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    padding-bottom: 10% ;
    padding-top: 10% ;
}
.contdown{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.single-countdown__time{
    cursor: pointer;
	width:120px;
    height:120px;
    margin: 10px;
    font-size: 60px;
    padding-top: 10px;
    text-align: center;
    background:transparent;
    border: solid #E0DED2 1px;
    color: #E0DED2;
    border-radius: 50%;
    /* border-top-left-radius : 10px 10px;
    border-top-right-radius : 10px 10px;
    border-bottom-left-radius : 10px 10px;
    border-bottom-right-radius : 10px 10px; */
}
.single-countdown:hover{
    color: #2EA3DD;
    cursor: pointer;
}
.single-countdown:hover .single-countdown__time {
    border: solid #2EA3DD 1px;
    color: #2EA3DD;
}
.single-countdown__time:hover{
    border: solid #2EA3DD 1px;
    color: #2EA3DD;
}
.video-conainer{
    color:#E0DED2 !important;
}
.video-conainer  h1{
    cursor: pointer;
    text-transform: uppercase;
    padding-top:1.3%;
    color:#E0DED2 !important;
}
.video-conainer  h3{
    cursor: pointer;
    padding-top:1.3%;
    color:#E0DED2 !important;
    font-family: 'Photographe Signiature';
    font-size: 35px ;
}
.video-conainer  h1:hover{
    color: #2EA3DD !important;
}
.video-conainer  h3:hover{
    color: #2EA3DD !important;
}
.logo{
    height: 180%;
    position: absolute;
    top: -40%;
    left: 10%;
}.active{
    color:#2EA3DD;
}

@media (max-width: 800px){
    .single-countdown__time{
        width:100px;
        height:100px;
        padding-top: 3px;
    }
    .logo{
        display: none;
    }

}